# Admin credentials
ADMIN_USER=admin
ADMIN_PASS_HASH=$2b$10$your_bcrypt_hash_here

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=./keys.json
GCS_PROJECT_ID=meta-geography-433812-b8
GCS_BUCKET_NAME=cars-marin-motor

# Server
PORT=4000
